qw-note-card {
  width: 400px;
  height: 620px;
  border-radius: 10px;
  background-color: #FFF;
  display: block;  
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.notelist {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
